[Desktop Entry]
Version=1.0
Type=Application
Name=BoBnox
GenericName=File Organizer
Comment=Organize files into categorized folders
Exec=/home/anorak/boBnox/run-bobnox.sh
Icon=/home/anorak/boBnox/BoBnox-icon/Bobnox-icon.png
Terminal=false
Categories=Utility;FileTools;
StartupNotify=true
Keywords=file;organizer;sort;files;
